<a href="https://colab.research.google.com/github/VegetaSan1/Machine-Learning-Projects/blob/main/IRIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [ ]:
ds=pd.read_csv('Iris.csv')
ds

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [ ]:
ds.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
ds.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
ds['PetalLengthCm'].unique()

array([1.4, 1.3, 1.5, 1.7, 1.6, 1.1, 1.2, 1. , 1.9, 4.7, 4.5, 4.9, 4. ,
       4.6, 3.3, 3.9, 3.5, 4.2, 3.6, 4.4, 4.1, 4.8, 4.3, 5. , 3.8, 3.7,
       5.1, 3. , 6. , 5.9, 5.6, 5.8, 6.6, 6.3, 6.1, 5.3, 5.5, 6.7, 6.9,
       5.7, 6.4, 5.4, 5.2])

In [ ]:
from sklearn.preprocessing  import LabelEncoder
le = LabelEncoder() 
ds['Species']= le.fit_transform(ds['Species']) 
ds

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [ ]:
x=ds.iloc[:,:-1].values
y=ds.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((120, 5), (30, 5), (120,), (30,))

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression(max_iter=550)
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=550,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred=lr.predict(x_test)
y_pred=pd.DataFrame(y_pred)
y_pred

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:
y_test=pd.DataFrame(y_test)
y_test

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:
pred=pd.concat([y_test,y_pred],axis=1)
pred

    0  0
0   2  2
1   1  1
2   0  0
3   2  2
4   0  0
5   2  2
6   0  0
7   1  1
8   1  1
9   1  1
10  2  2
11  1  1
12  1  1
13  1  1
14  1  1
15  0  0
16  1  1
17  1  1
18  0  0
19  0  0
20  2  2
21  1  1
22  0  0
23  0  0
24  2  2
25  0  0
26  0  0
27  1  1
28  1  1
29  0  0

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred)
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]])

In [ ]:
accuracy_score(y_test,y_pred)

1.0

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         6

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [ ]:
from sklearn.svm import SVC
svc=SVC(kernel='rbf')
svc.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
y_pred2=svc.predict(x_test)
y_pred2=pd.DataFrame(y_pred2)
y_pred2

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:
y_test=pd.DataFrame(y_test)
y_test

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:
pred2=pd.concat([y_test,y_pred2],axis=1)
pred2=pd.DataFrame(pred2)
pred2

    0  0
0   2  2
1   1  1
2   0  0
3   2  2
4   0  0
5   2  2
6   0  0
7   1  1
8   1  1
9   1  1
10  2  2
11  1  1
12  1  1
13  1  1
14  1  1
15  0  0
16  1  1
17  1  1
18  0  0
19  0  0
20  2  2
21  1  1
22  0  0
23  0  0
24  2  2
25  0  0
26  0  0
27  1  1
28  1  1
29  0  0

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred2)
cm

array([[11,  0,  0],
       [ 0, 13,  0],
       [ 0,  0,  6]])

In [ ]:
accuracy_score(y_test,y_pred2)

1.0

In [ ]:
print(classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         6

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
y_pred3=svc.predict(x_test)
y_pred3=pd.DataFrame(y_pred3)
y_pred3

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:
y_test=pd.DataFrame(y_test)
y_test

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:
pred3=pd.concat([y_test,y_pred2],axis=1)
pred3=pd.DataFrame(pred3)
pred3

    0  0
0   2  2
1   1  1
2   0  0
3   2  2
4   0  0
5   2  2
6   0  0
7   1  1
8   1  1
9   1  1
10  2  2
11  1  1
12  1  1
13  1  1
14  1  1
15  0  0
16  1  1
17  1  1
18  0  0
19  0  0
20  2  2
21  1  1
22  0  0
23  0  0
24  2  2
25  0  0
26  0  0
27  1  1
28  1  1
29  0  0

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred2)
print(cm)

print(accuracy_score(y_test,y_pred2))

print(classification_report(y_test,y_pred2))

[[11  0  0]
 [ 0 13  0]
 [ 0  0  6]]
1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         6

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [ ]:
y_pred4=nb.predict(x_test)
y_pred4=pd.DataFrame(y_pred4)
y_pred4

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:
pred4=pd.concat([y_test,y_pred4],axis=1)
pred4=pd.DataFrame(pred4)
pred4

    0  0
0   2  2
1   1  1
2   0  0
3   2  2
4   0  0
5   2  2
6   0  0
7   1  1
8   1  1
9   1  1
10  2  2
11  1  1
12  1  1
13  1  1
14  1  1
15  0  0
16  1  1
17  1  1
18  0  0
19  0  0
20  2  2
21  1  1
22  0  0
23  0  0
24  2  2
25  0  0
26  0  0
27  1  1
28  1  1
29  0  0

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred2)
print(cm)

print(accuracy_score(y_test,y_pred2))

print(classification_report(y_test,y_pred2))

[[11  0  0]
 [ 0 13  0]
 [ 0  0  6]]
1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         6

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(criterion='entropy')
dt.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred5=svc.predict(x_test)
y_pred5=pd.DataFrame(y_pred5)
y_pred5

    0
0   2
1   1
2   0
3   2
4   0
5   2
6   0
7   1
8   1
9   1
10  2
11  1
12  1
13  1
14  1
15  0
16  1
17  1
18  0
19  0
20  2
21  1
22  0
23  0
24  2
25  0
26  0
27  1
28  1
29  0

In [ ]:

pred5=pd.concat([y_test,y_pred5],axis=1)
pred5=pd.DataFrame(pred5)
pred5

    0  0
0   2  2
1   1  1
2   0  0
3   2  2
4   0  0
5   2  2
6   0  0
7   1  1
8   1  1
9   1  1
10  2  2
11  1  1
12  1  1
13  1  1
14  1  1
15  0  0
16  1  1
17  1  1
18  0  0
19  0  0
20  2  2
21  1  1
22  0  0
23  0  0
24  2  2
25  0  0
26  0  0
27  1  1
28  1  1
29  0  0

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred5)
print(cm)

print(accuracy_score(y_test,y_pred5))

print(classification_report(y_test,y_pred5))

[[11  0  0]
 [ 0 13  0]
 [ 0  0  6]]
1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00         6

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

In [ ]:
import tensorflow as tf
import keras 
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

In [ ]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [ ]:
y= pd.get_dummies(y).values
y

array([[1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1]], dtype=uint8)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
ann=tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=4,activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=10,activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=3,activation='softmax'))

In [ ]:

ann.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [ ]:
ann.fit(x_train,y_train,batch_size=2,epochs=100)

Epoch 1/100
60/60 [==============================] - 1s 1ms/step - loss: 1.0962 - accuracy: 0.3731
Epoch 2/100
60/60 [==============================] - 0s 1ms/step - loss: 1.0979 - accuracy: 0.3208
Epoch 3/100
60/60 [==============================] - 0s 1ms/step - loss: 1.0945 - accuracy: 0.4329
Epoch 4/100
60/60 [==============================] - 0s 1ms/step - loss: 1.0799 - accuracy: 0.5747
Epoch 5/100
60/60 [==============================] - 0s 1ms/step - loss: 1.0680 - accuracy: 0.6380
Epoch 6/100
60/60 [==============================] - 0s 1ms/step - loss: 1.0312 - accuracy: 0.6062
Epoch 7/100
60/60 [==============================] - 0s 1ms/step - loss: 1.0153 - accuracy: 0.6471
Epoch 8/100
60/60 [==============================] - 0s 1ms/step - loss: 0.9359 - accuracy: 0.7024
Epoch 9/100
60/60 [==============================] - 0s 1ms/step - loss: 0.9222 - accuracy: 0.6714
Epoch 10/100
60/60 [==============================] - 0s 1ms/step - loss: 0.8734 - accuracy: 0.6471
Epoch 11/100
60/60 [==============================] - 0s 1ms/step - loss: 0.8097 - accuracy: 0.6622
Epoch 12/100
60/60 [==============================] - 0s 1ms/step - loss: 0.7339 - accuracy: 0.7284
Epoch 13/100
60/60 [==============================] - 0s 1ms/step - loss: 0.7048 - accuracy: 0.7362
Epoch 14/100
60/60 [==============================] - 0s 1ms/step - loss: 0.6916 - accuracy: 0.8179
Epoch 15/100
60/60 [==============================] - 0s 1ms/step - loss: 0.6466 - accuracy: 0.8701
Epoch 16/100
60/60 [==============================] - 0s 1ms/step - loss: 0.6348 - accuracy: 0.9232
Epoch 17/100
60/60 [==============================] - 0s 980us/step - loss: 0.6278 - accuracy: 0.9157
Epoch 18/100
60/60 [==============================] - 0s 1ms/step - loss: 0.6712 - accuracy: 0.9700
Epoch 19/100
60/60 [==============================] - 0s 1ms/step - loss: 0.5557 - accuracy: 0.9990
Epoch 20/100
60/60 [==============================] - 0s 1ms/step - loss: 0.5002 - accuracy: 1.0000
Epoch 21/100
60/60 [==============================] - 0s 1ms/step - loss: 0.4853 - accuracy: 0.9676
Epoch 22/100
60/60 [==============================] - 0s 1ms/step - loss: 0.4741 - accuracy: 0.9985
Epoch 23/100
60/60 [==============================] - 0s 1ms/step - loss: 0.5152 - accuracy: 0.9874
Epoch 24/100
60/60 [==============================] - 0s 1ms/step - loss: 0.3984 - accuracy: 0.9442
Epoch 25/100
60/60 [==============================] - 0s 1ms/step - loss: 0.2599 - accuracy: 0.9367
Epoch 26/100
60/60 [==============================] - 0s 1ms/step - loss: 0.2145 - accuracy: 0.9940
Epoch 27/100
60/60 [==============================] - 0s 1ms/step - loss: 0.2013 - accuracy: 0.9990
Epoch 28/100
60/60 [==============================] - 0s 1ms/step - loss: 0.1737 - accuracy: 1.0000
Epoch 29/100
60/60 [==============================] - 0s 1ms/step - loss: 0.1284 - accuracy: 0.9921
Epoch 30/100
60/60 [==============================] - 0s 1ms/step - loss: 0.1115 - accuracy: 1.0000
Epoch 31/100
60/60 [==============================] - 0s 1ms/step - loss: 0.1018 - accuracy: 1.0000
Epoch 32/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0970 - accuracy: 1.0000
Epoch 33/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0979 - accuracy: 1.0000
Epoch 34/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0846 - accuracy: 1.0000
Epoch 35/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0835 - accuracy: 1.0000
Epoch 36/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0783 - accuracy: 1.0000
Epoch 37/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0641 - accuracy: 0.9996
Epoch 38/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0916 - accuracy: 0.9615
Epoch 39/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0710 - accuracy: 1.0000
Epoch 40/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0543 - accuracy: 0.9838
Epoch 41/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0558 - accuracy: 0.9955
Epoch 42/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0669 - accuracy: 1.0000
Epoch 43/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0432 - accuracy: 1.0000
Epoch 44/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0556 - accuracy: 1.0000
Epoch 45/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0407 - accuracy: 1.0000
Epoch 46/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0419 - accuracy: 1.0000
Epoch 47/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0575 - accuracy: 1.0000
Epoch 48/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0406 - accuracy: 1.0000
Epoch 49/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0462 - accuracy: 1.0000
Epoch 50/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0351 - accuracy: 1.0000
Epoch 51/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0297 - accuracy: 1.0000
Epoch 52/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0324 - accuracy: 1.0000
Epoch 53/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0265 - accuracy: 1.0000
Epoch 54/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0316 - accuracy: 1.0000
Epoch 55/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0202 - accuracy: 1.0000
Epoch 56/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0268 - accuracy: 1.0000
Epoch 57/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0310 - accuracy: 1.0000
Epoch 58/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0237 - accuracy: 1.0000
Epoch 59/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0265 - accuracy: 1.0000
Epoch 60/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0241 - accuracy: 1.0000
Epoch 61/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0251 - accuracy: 1.0000
Epoch 62/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0182 - accuracy: 1.0000
Epoch 63/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0171 - accuracy: 1.0000
Epoch 64/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0133 - accuracy: 1.0000
Epoch 65/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0190 - accuracy: 1.0000
Epoch 66/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0180 - accuracy: 1.0000
Epoch 67/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0204 - accuracy: 1.0000
Epoch 68/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0181 - accuracy: 1.0000
Epoch 69/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0127 - accuracy: 1.0000
Epoch 70/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0162 - accuracy: 1.0000
Epoch 71/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0170 - accuracy: 1.0000
Epoch 72/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0196 - accuracy: 1.0000
Epoch 73/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0128 - accuracy: 1.0000
Epoch 74/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0208 - accuracy: 1.0000
Epoch 75/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0084 - accuracy: 1.0000
Epoch 76/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0181 - accuracy: 1.0000
Epoch 77/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0110 - accuracy: 1.0000
Epoch 78/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0179 - accuracy: 1.0000
Epoch 79/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0084 - accuracy: 1.0000
Epoch 80/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0161 - accuracy: 1.0000
Epoch 81/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0132 - accuracy: 1.0000
Epoch 82/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0090 - accuracy: 1.0000
Epoch 83/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0134 - accuracy: 1.0000
Epoch 84/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0063 - accuracy: 1.0000
Epoch 85/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0210 - accuracy: 0.9832
Epoch 86/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0069 - accuracy: 1.0000
Epoch 87/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0101 - accuracy: 1.0000
Epoch 88/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0078 - accuracy: 1.0000
Epoch 89/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0083 - accuracy: 1.0000
Epoch 90/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 91/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0060 - accuracy: 1.0000
Epoch 92/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0217 - accuracy: 1.0000
Epoch 93/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0067 - accuracy: 1.0000
Epoch 94/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0083 - accuracy: 1.0000
Epoch 95/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 96/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0142 - accuracy: 1.0000
Epoch 97/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0071 - accuracy: 1.0000
Epoch 98/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0072 - accuracy: 1.0000
Epoch 99/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0128 - accuracy: 1.0000
Epoch 100/100
60/60 [==============================] - 0s 1ms/step - loss: 0.0053 - accuracy: 1.0000

In [ ]:

y_test=pd.DataFrame(y_test)
y_test

    0  1  2
0   0  0  1
1   0  1  0
2   1  0  0
3   0  0  1
4   1  0  0
5   0  0  1
6   1  0  0
7   0  1  0
8   0  1  0
9   0  1  0
10  0  0  1
11  0  1  0
12  0  1  0
13  0  1  0
14  0  1  0
15  1  0  0
16  0  1  0
17  0  1  0
18  1  0  0
19  1  0  0
20  0  0  1
21  0  1  0
22  1  0  0
23  1  0  0
24  0  0  1
25  1  0  0
26  1  0  0
27  0  1  0
28  0  1  0
29  1  0  0

In [ ]:
y_pred6=ann.predict(x_test)
y_pred6=pd.DataFrame(y_pred6)
y_pred6

               0             1             2
0   5.123948e-07  5.654457e-04  9.994341e-01
1   7.327255e-04  9.992502e-01  1.700657e-05
2   9.997556e-01  2.443194e-04  6.684397e-08
3   6.251323e-06  6.854676e-03  9.931391e-01
4   1.000000e+00  3.721370e-13  2.382166e-25
5   1.710247e-05  1.901975e-02  9.809631e-01
6   9.997556e-01  2.443194e-04  6.684397e-08
7   7.817851e-04  9.969091e-01  2.309193e-03
8   7.704187e-04  9.985260e-01  7.035501e-04
9   7.371795e-04  9.992362e-01  2.652403e-05
10  1.080960e-07  2.010279e-04  9.997988e-01
11  1.975406e-03  9.980243e-01  2.491149e-07
12  7.539667e-04  9.991071e-01  1.390508e-04
13  7.163424e-04  9.992805e-01  3.244543e-06
14  7.326118e-04  9.992506e-01  1.681434e-05
15  9.997556e-01  2.443194e-04  6.684397e-08
16  7.705712e-04  9.985151e-01  7.143667e-04
17  7.918319e-04  9.829643e-01  1.624392e-02
18  9.997556e-01  2.443194e-04  6.684397e-08
19  1.000000e+00  8.204679e-10  1.430608e-18
20  7.230933e-07  7.847996e-04  9.992144e-01
21  7.365124e-04  9.992387e-01  2.481902e-05
22  9.999982e-01  1.748614e-06  8.020651e-12
23  1.000000e+00  1.594440e-11  4.848507e-22
24  7.726541e-07  8.359101e-04  9.991634e-01
25  9.999844e-01  1.564668e-05  6.167728e-10
26  9.997556e-01  2.443194e-04  6.684397e-08
27  7.912993e-04  9.800524e-01  1.915642e-02
28  7.895186e-04  9.928329e-01  6.377527e-03
29  9.999821e-01  1.783702e-05  7.885678e-10

In [ ]:
pred6=pd.concat([y_test,y_pred6],axis=1)
pred6=pd.DataFrame(pred6)
pred6

    0  1  2             0             1             2
0   0  0  1  5.123948e-07  5.654457e-04  9.994341e-01
1   0  1  0  7.327255e-04  9.992502e-01  1.700657e-05
2   1  0  0  9.997556e-01  2.443194e-04  6.684397e-08
3   0  0  1  6.251323e-06  6.854676e-03  9.931391e-01
4   1  0  0  1.000000e+00  3.721370e-13  2.382166e-25
5   0  0  1  1.710247e-05  1.901975e-02  9.809631e-01
6   1  0  0  9.997556e-01  2.443194e-04  6.684397e-08
7   0  1  0  7.817851e-04  9.969091e-01  2.309193e-03
8   0  1  0  7.704187e-04  9.985260e-01  7.035501e-04
9   0  1  0  7.371795e-04  9.992362e-01  2.652403e-05
10  0  0  1  1.080960e-07  2.010279e-04  9.997988e-01
11  0  1  0  1.975406e-03  9.980243e-01  2.491149e-07
12  0  1  0  7.539667e-04  9.991071e-01  1.390508e-04
13  0  1  0  7.163424e-04  9.992805e-01  3.244543e-06
14  0  1  0  7.326118e-04  9.992506e-01  1.681434e-05
15  1  0  0  9.997556e-01  2.443194e-04  6.684397e-08
16  0  1  0  7.705712e-04  9.985151e-01  7.143667e-04
17  0  1  0  7.918319e-04  9.829643e-01  1.624392e-02
18  1  0  0  9.997556e-01  2.443194e-04  6.684397e-08
19  1  0  0  1.000000e+00  8.204679e-10  1.430608e-18
20  0  0  1  7.230933e-07  7.847996e-04  9.992144e-01
21  0  1  0  7.365124e-04  9.992387e-01  2.481902e-05
22  1  0  0  9.999982e-01  1.748614e-06  8.020651e-12
23  1  0  0  1.000000e+00  1.594440e-11  4.848507e-22
24  0  0  1  7.726541e-07  8.359101e-04  9.991634e-01
25  1  0  0  9.999844e-01  1.564668e-05  6.167728e-10
26  1  0  0  9.997556e-01  2.443194e-04  6.684397e-08
27  0  1  0  7.912993e-04  9.800524e-01  1.915642e-02
28  0  1  0  7.895186e-04  9.928329e-01  6.377527e-03
29  1  0  0  9.999821e-01  1.783702e-05  7.885678e-10

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report
cm=confusion_matrix(y_test,y_pred6)
print(cm)

print(accuracy_score(y_test,y_pred6))

print(classification_report(y_test,y_pred6))

ValueError: ignored